useDynLib(FDRreg)
importFrom(Rcpp, evalCpp)
importFrom(fda, create.bspline.basis, eval.basis)
importFrom(splines, interpSpline, ns)
importFrom(mosaic, maggregate)
importFrom(BayesLogit, rpg)
importFrom(mvtnorm, rmvnorm)
export(FDRreg, BayesFDRreg, plotFDR, efron, getFDR, prfdr,
	dnormix, marnormix, rnormix, draw_mixture_component,
	flogit, ilogit,
	GetErrorRates, BenjaminiHochberg
	)
