useDynLib(FDRreg)
importFrom(Rcpp, evalCpp)
importFrom(fda, create.bspline.basis, eval.basis)
importFrom(splines, interpSpline, ns)
importFrom(mosaic, maggregate)
importFrom(BayesLogit, rpg)
importFrom(mvtnorm, rmvnorm)
export(FDRreg, BayesFDRreg, plotFDR, prfdr, GetErrorRates, BenjaminiHochberg, FDRsmooth1D, prfdr_het, efron, getFDR, dnormix, marnormix, rnormix, draw_mixture_component)
